# This file is a template, and might need editing before it works on your project.
# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:latest

stages:
  - publish

publish:
  stage: publish
  only:
    - master
  script:
    - npm i
    - npm run build
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}'>.npmrc
    - npm publish

test_publish:
  stage: publish
  only:
    - feature/remove-dist-folder
  script:
    - npm i
    - npm run build
